@model QLTN2018.Models.TaiNanThuongVong

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaiNanThuongVong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DTTV.TenDTTV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTTV.TenDTTV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HTBV.TenHTBV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HTBV.TenHTBV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhomTuoi.TenNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhomTuoi.TenNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiNan.SoBC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiNan.SoBC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThuongVong.TyLeTV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuongVong.TyLeTV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaiNanThuongVongID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
